@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* ++++++++++ background gradient ++++++++++ */
.my-background-gradient {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 9%,
    rgba(36, 35, 48, 1) 58%,
    rgba(0, 0, 0, 1) 87%
  );
}
/* ++++++++++ back to back text box ++++++++++ */
.bb-text-box {
  @apply flex items-center justify-center  rounded h-36 p-5 bg-light md:bg-transparent lg:text-lg shadow-md md:shadow-transparent md:border-none border-t border-primary;
}
/* ++++++++++ /back to back text box ++++++++++ */

/* ++++++++++ Subscribe section ++++++++++ */
.my-subscribe-btn {
  @apply flex-shrink-0 px-3 py-2 text-lg text-white rounded shadow-xl bg-green shadow-green/30 hover:bg-lightGreen;
}
/* ++++++++++ /Subscribe section ++++++++++ */

/* Footer */

.my-h2-title {
  @apply py-2 text-gray-400 text-base sm:text-lg;
}
/* /Footer */
