@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* ++++++++++ Base  ++++++++++ */
.my-background-gradient {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 9%,
    rgba(36, 35, 48, 1) 58%,
    rgba(0, 0, 0, 1) 87%
  );
}

.my-btn {
  @apply flex-shrink-0 uppercase px-3 py-2 text-base text-dark font-bold rounded shadow-md shadow-dark/30 text-light bg-green-600 hover:bg-green-700;
}

/* ++++++++++ /Base  ++++++++++ */

/* ++++++++++ Slider animation  ++++++++++ */
/* manual setting up for animation */
.fade-anim div {
  animation: fadeAnim 0.5s ease-out;
}
@keyframes fadeAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* ++++++++++ /Slider animation  ++++++++++ */

/* ++++++++++ back to back text box ++++++++++ */
.bb-text-box {
  @apply flex items-center justify-center  rounded h-36 p-5 bg-light md:bg-transparent lg:text-lg shadow-md md:shadow-transparent md:border-none border-t border-primary;
}
/* ++++++++++ /back to back text box ++++++++++ */

/* ++++++++++ Contact  ++++++++++ */
.my-input-style {
  @apply w-full py-2 px-3 shadow-sm border border-gray-300 rounded focus:outline-none focus:border-dark focus:ring-1 focus:ring-dark;
}

/* ++++++++++ /Contact  ++++++++++ */

/* Footer */

.my-h2-title {
  @apply py-2 text-gray-400 text-base sm:text-lg;
}
/* /Footer */
